* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  color: #222222;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

/*==== MENU ====*/

.menu-bg {
  background: #f9265e;
}

.menu {
  padding-top: 15px 0;
  margin: 0 auto;
  max-width: 960px;
  /* max-height: 100px; */

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu a {
  color: white;
}

.menu-logo a {
  font-size: 2.25em;
  font-weight: bold;
  margin: 0 10px;
}

.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
}

.menu-nav a {
  font-size: 1.25em;
  display: block;
  padding: 10px;
  transition: linear 0.4s;
}

.menu-nav a:hover {
  color: blanchedalmond;
  transition: all linear 0.4s;
}

/* @media (max-width: 800) {
    .menu-nav a {
      margin: 5px;
      padding: 5px;
     
    }
 } */
/*====> Introdução ====*/

.introducao {
  font-size: 3em;
  line-height: 1;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 10px;
}

/*==== Sobre ====*/
.sobre {
  border-top: 2px solid blanchedalmond;
  border-bottom: 2px solid blanchedalmond;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0;

  display: flex;
  flex-wrap: wrap;
}

.sobre-info {
  flex: 2 1 300px;
  margin: 0 10px;
}

.sobre-info h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

.sobre-info p {
  font-size: 1.25em;
  line-height: 1.4;
  margin-bottom: 1em;
  color: #7c7c7c;
}

.sobre-img {
  flex: 1 1 160px;
  margin: 0 10px;
}

/*==== Produtos ====*/

.produtos {
  max-width: 960px;
  margin: 60px auto;
}

.produtos h1 {
  font-size: 3em;
  margin: 0 10px 10px 60px;
}

.produtos-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.produtos-item {
  flex: 1 1 175px;
  margin: 10px;
}

.produtos-item h2 {
  font-size: 3em;
  color: #a4a4a4;
  background: #f7f7f7;
  padding: 60px 20px;
}

.purple {
  border-top: 8px solid #ae81ff;
}
.pink {
  border-top: 8px solid #f9265e;
}
.blue {
  border-top: 8px solid #66d9eb;
}

/*==== Precos ====*/

.preco {
  background: #f7f7f7;
  padding: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.preco-item {
  flex: 1 1 260px;
  border: 4px solid white;
  padding: 20px;
  margin: 10px;
}

.preco-item h2 {
  font-size: 3em;
  color: #a4a4a4;
  text-align: center;
  margin-top: 20px;
}

.preco-item span {
  max-width: 300px;
  margin: 20px auto;
  display: block;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  padding: 10px 0 5px 0;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
}

.preco-item sup {
  font-size: 1.5rem;
}

.preco-item ul {
  max-width: 300px;
  margin: 20px auto;
  font-size: 1.25em;
  font-style: italic;
  color: #7c7c7c;
}

.preco-item li {
  display: flex;

  align-items: center;
  margin-bottom: 15px;
  position: relative;
}

.preco-item li::after {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #f9265e;
  position: absolute;
  right: 3px;
}

.preco-item a {
  max-width: 200px;
  margin: 20px auto;
  display: block;
  border: 4px solid;
  border-radius: 0.8rem;
  color: #a4a4a4;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2em;
  padding: 15px 0;
  text-align: center;
  transition: linear 0.5s;
}

.preco-item #ouro:hover {
  transform: scale(1.1);
  color: gold;
  transition-property: transform, color;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}
.preco-item #prata:hover {
  transform: scale(1.1);
  color: lightblue;
  transition-property: transform, color;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}

.preco-item #cobre:hover {
  transform: scale(1.1);
  color: coral;
  transition-property: transform, color;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}

@media (max-width: 800px) {
  .menu-nav a {
    margin: 5px 10px;
    padding: 5px;
    border: 4px solid blanchedalmond;
    background-color: azure;
    border-radius: 0.8rem;

    color: #222222;
    font-size: 1em;
  }

  .preco {
    padding: 0 10px;
  }

  .preco .preco-item:nth-child(3) {
    order: -2;
  }

  .preco .preco-item:nth-child(2) {
    order: -1;
  }

  .preco-item #ouro {
    color: gold;
  }

  .preco-item #prata {
    color: lightblue;
  }
  .preco-item #cobre {
    color: coral;
  }
}

/*==== Qualidade ====*/

.qualidade {
  max-width: 960px;
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.qualidade-item {
  flex: 1 1 300px;
  margin: 20px 10px;
  margin-bottom: 20px;
}

.qualidade-item h2 {
  font-size: 2.25em;
  color: #a4a4a4;
}

.qualidade-item h2:before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 30px;
  margin-right: 10px;
}

.qualidade-item:nth-of-type(3n + 1) h2::before {
  background-color: #ae81ff;
}

.qualidade-item:nth-of-type(3n + 2) h2::before {
  background-color: #f9265e;
}

.qualidade-item:nth-of-type(3n + 3) h2::before {
  background-color: #66d9eb;
}

.qualidade-item p {
  font-size: 1.25em;
  line-height: 1.4;
  color: #7c7c7c;
}

/*==== Newsletter ====*/

.newsletter {
  background: #f7f7f7;
  padding: 60px calc((100% - 960px) / 2);
  display: flex;
  flex-wrap: wrap;
}

.newsletter-info {
  flex: 1 1 240px;
  margin: 0 10px;
}

.newsletter-info h1 {
  font-size: 3em;
  color: #a4a4a4;
}

.newsletter-info p {
  font-size: 1.25em;
  font-style: italic;
  max-width: 230px;
  color: #7c7c7c;
  margin-bottom: 10px;
}

.newsletter-form {
  flex: 2 1 260px;
  margin: 0 10px;
  align-self: center;

  display: flex;
  flex-wrap: wrap;
}

.newsletter-form input {
  flex: 3 1 260px;
  font-size: 1.25em;
  color: #7c7c7c;
  font-style: italic;
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  border: 4px solid #f9265e;
  background: transparent;
  padding: 15px 10px;
  margin: 0;
  border-radius: 0px;
}

.newsletter-form button {
  flex: 1 1 200px;
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  font-size: 2.25em;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #f9265e;
  color: white;
  margin: 0;
  cursor: pointer;
  border: 0;

  padding: 15px 10px;
}
@media (max-width: 600px) {
  .newsletter-form button {
    font-size: 1.5em;
  }
}

/*==== Footer ====*/

.footer {
  display: flex;
  flex-wrap: wrap;
  height: 120px;
  background: blanchedalmond;
  align-items: center;
}

.footer p {
  flex: 1;
  text-align: center;
  font-size: 1.5em;
  color: #222222;
}
